#change-mode i:hover, i.active{
	color:#6EC5E9;
}
#pagination-container ul{
    list-style: none;
    display: flex;
    margin-left: 700px;
    li {
        border: 2px solid blue;
        border-radius: 5px;
        padding: 10px;

    }
    li:hover {
        cursor: pointer;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}
.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #fff;
    img {
        width: 300px;
        height: 300px;
    }
    .close_edit_button {
        position: absolute;
        top: 0;
    }
}
.delete_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 25%;
    margin-left: 45%;
    z-index: 1000;
    width: 50%;
    height: 50%;
    background-color: #fff;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f1f2f3;
  }
  
  .loader img {
    margin-left: 650px;
    margin-top: 200px;
  }